/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f7f7f7;
}

/* Header styles */
header {
  background-color: #e4d6d6;
  color: #d92020;
  padding: 20px;
}

header h1 {
  margin: 0;
  font-size: 36px;
}

header nav {
  margin-top: 20px;
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  margin-right: 20px;
}

header nav ul li:last-child {
  margin-right: 0;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

header nav ul li a:hover {
  text-decoration: underline;
}

/* Main styles */
main {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

main section {
  flex: 1;
  margin-right: 20px;
}

main section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

main section article {
  margin-bottom: 20px;
}

main section article h3 {
  font-size: 20px;
  margin-bottom:
}